{% extends "SAMSS/base.html" %}
{% load static %}
{% block main %}
<div id="page">
	{% include "SAMSS/header.html" %}
	{% include "SAMSS/home/slider.html" %}
	{% include "SAMSS/home/course_categories.html" %}
	{% include "SAMSS/home/followers_counter.html" %}
	{% include "SAMSS/home/all_course.html" %}
	{% include "SAMSS/home/testimonial.html" %}
	{% include "SAMSS/home/blog.html" %}
	{% include "SAMSS/home/price.html" %}
	{% include "SAMSS/home/register.html" %}
	{% include "SAMSS/home/gallery.html" %}
	{% include "SAMSS/footer.html" %}
</div>
{% endblock main %}